*{
	margin: 0px;
	padding: 0px;
	font-family: Avenir, sans-serif; 
	/*border: solid;*/ 
}
header{
	background-color: rgb(43,126,124); 
}
header h1{
	text-align: center; 
	padding: 10px; 
	color: rgba(25,81,77,255);
}
nav{
	width: 100%;
	margin: 0 auto; 
	position: sticky;
	top: 0px;
	padding-bottom: 10px; 
}
nav ul{
	list-style-type: none;
}
nav ul li{ 
	float: left; 
	width: 25%;
	text-align: center; 
	background-color: rgb(43,126,124); 
	position: relative; 
}
nav a{
	display: block;
	text-decoration: none; 
	color: black;
	font-weight: bold; 
	
}
h2{
	border: solid; 
	background-color: rgba(25,81,77,255); 
	margin: 10px; 
	padding: 10px; 
	color: rgba(216,229,174,255); 
	border-color: rgba(25,81,77,255); 
}
h3{
	text-align: center;
}
footer p{
	text-align: center; 
	color: black; 
	background-color: rgb(43,126,124); 
	margin:0px;
	margin-top:10px; 
	border:none;
	/*position: fixed;*/
	width: 100%; 
	bottom: 0; 
	padding: 10px;
}
#conteneur
{
    display: flex;
    background-color: rgba(216,229,174,255);
    margin: 10px;
    border: solid; 
    border-color: rgba(216,229,174,255); 
}
#conteneur2
{
    background-color: rgba(216,229,174,255);
    margin: 10px;
    border: solid; 
    border-color: rgba(216,229,174,255); 
}
.element1{
	width: 60%;
}
.element2{
	width: 40%; 
}
table{
	margin-top: 30px; 
	margin: 10px; 
	width: 90%; 
	float: center; 
	border: 1px solid black;
	border-collapse: collapse; 
}
td{
	border: 1px solid black;
}  
p {
    color: black;
}
